.__editor-in-editor {
    margin-bottom: 15px;
    padding: 4px;

    border-width: 1px;
    border-style: dashed;
    border-color: var(--g-color-line-generic);
    border-radius: var(--g-border-radius-s);
}
