.g-md-link {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-2);

    box-sizing: border-box;
    width: 340px;
    padding: var(--g-spacing-4);

    &__row {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-1);

        &_submit {
            margin-top: var(--g-spacing-2);
        }
    }

    &__input {
        box-sizing: border-box;
    }

    &__button {
        flex-shrink: 0;
    }
}
