@use '../../../styles/mixins.scss';

.ProseMirror.yfm .yfm-cut {
    @include mixins.block-border-hover();

    &.yfm-cut-active {
        border-color: var(--g-color-line-generic);
    }
    .yfm-cut-title:focus {
        outline: 0;
    }
    /* backward compatibility with earlier versions of cut-extension  */
    .yfm-cut-title {
        list-style: none;
    }
    .yfm-cut-title::-webkit-details-marker,
    .yfm-cut-title::marker {
        display: none;
    }
}
