@use '../../../styles/mixins' as editor;

.ProseMirror.yfm {
    .yfm-cut {
        @include editor.block-border-hover();

        &.yfm-cut-active {
            border-color: var(--g-color-line-generic);
        }
        .yfm-cut-title:focus {
            outline: 0;
        }
    }
    .yfm-cut.open > .yfm-cut-title:before {
        transform: translateY(-50%);
    }
}
