{
    "root": true,
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/a11y",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/import-order"
    ],
    "plugins": ["lodash"],
    "rules": {
        "lodash/import-scope": [2, "method"]
    }
}
