#npm
npm-debug.log*
node_modules

#temporary
tmp/
temp/
*~

#personal
.idea
.vscode
.DS_Store

# git merge leftovers
*.orig

# build
.cache
.cache*
build/
coverage/
storybook-static/
.eslintcache
demo/src/docs
debug-storybook.log

# tests
playwright-report*
test-results/

