.g-md-grid-block-templates {
    &__templates {
        width: 320px;
        max-width: calc(100vw - 32px);
        padding: 8px;
    }

    &__templates-editor {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .g-text-area__control {
            font-family: var(--g-font-family-monospace);
        }
    }

    &__templates-controls {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    &__templates-search {
        margin-bottom: 6px;
    }

    &__templates-list {
        overflow-y: auto;

        max-height: 280px;
    }

    &__templates-submenu {
        overflow-y: auto;

        width: 320px;
        max-width: calc(100vw - 32px);
        max-height: 280px;
        padding: 8px;

        border-radius: var(--g-border-radius-m);
        background: var(--g-color-base-float);
        box-shadow: 0 2px 10px var(--g-color-sfx-shadow);
    }

    &__templates-separator {
        height: 1px;
        margin: 4px 0;

        background: var(--g-color-line-generic);
    }
}
