:root {
    --toolbar-item-preview-width: 144px;
    --toolbar-item-preview-height: 104px;
}

@mixin toolbar-item-preview-h1() {
    margin: 10px 0 6px;

    font-size: 26px;
    line-height: 32px;
}

@mixin toolbar-item-preview-h2() {
    margin: 20px 0 4px;

    font-size: 20px;
    line-height: 24px;
}

@mixin toolbar-item-preview-h3() {
    margin: 24px 0 4px;

    font-size: 16px;
    line-height: 20px;
}

@mixin toolbar-item-preview-h4() {
    margin: 24px 0 4px;

    font-size: 14px;
    line-height: 20px;
}

@mixin toolbar-item-preview-h5() {
    margin: 26px 0 6px;

    font-size: 12px;
    line-height: 16px;
}

@mixin toolbar-item-preview-h6() {
    margin: 28px 0 6px;

    font-size: 10px;
    line-height: 14px;
}

.g-md-action-preview {
    overflow: hidden;

    width: var(--toolbar-item-preview-width);
    height: var(--toolbar-item-preview-height);

    white-space: pre;

    &__heading {
        &_level {
            &_1 {
                @include toolbar-item-preview-h1;
            }

            &_2 {
                @include toolbar-item-preview-h2;
            }

            &_3 {
                @include toolbar-item-preview-h3;
            }

            &_4 {
                @include toolbar-item-preview-h4;
            }

            &_5 {
                @include toolbar-item-preview-h5;
            }

            &_6 {
                @include toolbar-item-preview-h6;
            }
        }
    }

    &__text-with-head {
        margin-top: 0;

        color: var(--g-color-text-hint);
    }
}
