@use './zindex' as zIndexVariables;

@mixin block-border-hover() {
    border: 1px dashed transparent;
    border-radius: var(--g-border-radius-s);

    &:hover {
        border-color: var(--g-color-line-generic);
    }
}

// Getting z-index value by key
@mixin z-index($key) {
    z-index: map-get(zIndexVariables.$z-index-map, $key);
}

