@use '../../styles/zindex' as zIndexVars;

$block: 'g-md-editor-sticky';

.#{$block} {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;

    &_sticky {
        position: sticky;
        top: calc(var(--g-md-toolbar-sticky-offset, 0px) + 8px);
    }

    &_sticky-active:not(.#{$block}_clear) {
        z-index: zIndexVars.$sticky-toolbar;

        padding: var(--g-md-toolbar-sticky-padding);

        &::before {
            position: absolute;
            inset: var(--g-md-toolbar-sticky-inset, -4px);

            content: '';

            border: var(--g-md-toolbar-sticky-border, 1px solid var(--g-color-line-generic-solid));
            border-radius: 4px;
            background-color: var(--g-color-base-background);
        }
    }

    &_part {
        &_left:not(.#{$block}_clear).#{$block}_sticky::before {
            right: 0;

            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &_right:not(.#{$block}_clear).#{$block}_sticky::before {
            left: 0;

            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
