@use '../../../styles/mixins' as editor;

.ProseMirror {
    .yfm-tabs {
        @include editor.block-border-hover();
    }
    .g-md-yfm-tab {
        &__wrapper {
            position: relative;

            display: flex;
            align-items: center;

            height: 100%;
            padding-bottom: 7px;

            border-bottom: 2px solid transparent;
            background-clip: padding-box;
        }

        &__remove-button {
            display: flex;

            width: 15px;
            min-width: 15px;
            height: 15px;
            margin-left: 9px;

            color: var(--g-color-base-generic-medium);

            &:hover {
                color: var(--g-color-text-primary);
            }
        }

        &__create-button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 22px;
            min-width: 22px;
            height: 22px;
            min-height: 22px;
            margin-bottom: 9px;

            opacity: 0;
            color: var(--g-color-text-primary);

            &:hover {
                border-radius: var(--g-border-radius-xs);
                background: var(--g-color-base-generic-hover);
            }
        }
    }
    .yfm-tab {
        position: relative;

        display: flex;
        align-items: center;

        margin-right: 3px;
        padding-bottom: 0;

        border-bottom: none;

        .g-md-placeholder {
            color: var(--g-color-text-hint);
        }

        &[data-diplodoc-is-active='true'] {
            .g-md-yfm-tab__wrapper {
                border-bottom-color: #027bf3;
            }
        }

        &:hover,
        &:last-child {
            .g-md-yfm-tab__create-button {
                opacity: 1;
            }
        }
    }
}
