.math-inline {
    font-family: var(--g-font-family-monospace);

    color: var(--g-color-text-complementary);
    background-color: var(--g-color-base-misc-light);

    &__sharp {
        color: var(--g-color-text-hint);
    }
}
