.g-md-checkbox {
    display: flex;
    align-items: start;

    &__label {
        display: inline-block;
    }

    /* Increasing selector specificity to override yfm styles with zero padding */
    &__input {
        /* stylelint-disable declaration-no-important */
        margin-right: 5px !important;
    }
}

// Доработка в diplodoc/transform
.yfm input[type=checkbox]{
    top: 4px !important;
}
