.ye-flex-toolbar {
    position: relative;

    height: 28px;

    &__container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        gap: 0 8px;
    }
}
