.g-md-preview-tooltip {
    padding: var(--g-spacing-3);

    border-radius: var(--g-border-radius-s);
    background-color: var(--g-color-base-float-heavy);

    & .g-popup__content:first-child {
        padding: 0 0 0 var(--g-spacing-2);
    }
}
