.ye-toolbar-list-button {
    &_arrow {
        width: 42px;

        .g-button__text.g-button__text.g-button__text {
            margin: 0px 21px;
        }

        .g-button__icon_side_start {
            left: -1px;
        }

        .g-button__icon_side_end {
            right: -1px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
    }

    &__extra {
        display: flex;
        align-items: center;
        column-gap: 8px;

        .g-icon {
            display: block;
        }
    }

    &__hint {
        display: flex;
        align-items: center;

        span {
            display: flex;
        }
    }

    &__action-disabled-popover {
        display: block;

        .g-popover__handler {
            display: block;
        }
    }

    &__action-disabled-tooltip {
        min-height: fit-content;
        padding: 6px 12px;
    }
}
