.ye-toolbar-list-button {
    // TODO: FIXME
    // button with 2 icons
    // 42px width
    &_arrow {
        .yc-button__text.yc-button__text.yc-button__text {
            margin: 0px 21px;
        }

        .yc-button__icon_side_left {
            left: -1px;
        }

        .yc-button__icon_side_right {
            right: -1px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
    }

    &__extra {
        display: flex;
        align-items: center;
        column-gap: 8px;

        .yc-icon {
            display: block;
        }
    }

    &__hint {
        display: flex;
        align-items: center;

        span {
            display: flex;
        }
    }

    &__action-disabled-popover {
        display: block;

        .yc-popover__handler {
            display: block;
        }
    }

    &__action-disabled-tooltip {
        min-height: fit-content;
        padding: 6px 12px;
    }
}
