.ye-toolbar-button {
    &__hotkey {
        margin-left: 12px;
        padding: 0 8px;

        color: var(--yc-color-text-light-complementary);
        border-radius: 4px;
        background-color: var(--yc-color-base-generic-medium-hover);
    }
}
