$colors: ('gray', 'yellow', 'orange', 'red', 'green', 'blue', 'violet');

.g-md-toolbar-colors {
    @each $name in $colors {
        &__menu-icon_color_#{$name} {
            color: var(--yfm-colorify-#{$name});
        }

        &__chevron-icon_color_#{$name} {
            color: var(--yfm-colorify-#{$name});
        }

        &__item-icon_color_#{$name} {
            color: var(--yfm-colorify-#{$name});
        }
    }

    &__item-icon_color_default {
        color: var(--g-color-text-primary);
    }
}
