.math-block {
    font-family: var(--yc-font-family-monospace);

    color: var(--yc-color-text-complementary);
}

.math-block-container {
    margin-bottom: 15px;
}

.math-error {
    color: var(--yc-color-text-danger);
}

.math-block-view.math-view-error {
    display: flex;
    justify-content: center;
}

.math-container.math-active .math-view {
    display: none;
}

.math-block-container.math-active .math-block {
    background-color: var(--yc-color-base-misc);
    &::before,
    &::after {
        display: block;

        content: '$$';

        color: var(--yc-color-text-hint);
    }
}

.math-container:not(.math-active) {
    --ye-math-back-color: transparent;
    --ye-math-hover-color: var(--yc-color-base-simple-hover);

    position: relative;

    &.math-container-error {
        --ye-math-back-color: var(--yc-color-base-danger);
        --ye-math-hover-color: var(--yc-color-base-danger-hover);
    }

    &::before {
        position: absolute;
        z-index: -1;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;

        content: '';

        border-radius: var(--yc-border-radius-s);
        background-color: var(--ye-math-back-color);

        transition: background-color 0.15s linear;
    }

    &:hover {
        cursor: pointer;

        &::before {
            background-color: var(--ye-math-hover-color);
        }
    }

    .math-inline,
    .math-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: hidden;

        opacity: 0;
    }

    .ye-MathHint {
        &__block-view {
            display: none;
        }

        &__inline-view {
            display: none;
        }
    }
}

.ye-MathHint {
    &__block-view {
        float: right;
    }

    &__inline-view {
        display: inline-block;

        margin-right: 6px;
    }
}
