.math-block {
    font-family: var(--yc-font-family-monospace);

    color: var(--yc-color-text-complementary);
}

.math-block-container {
    margin-bottom: 15px;
}

.math-error {
    color: var(--yc-color-base-danger-heavy);
}

.math-container.math-active .math-view {
    display: none;
}

.math-block-container.math-active .math-block {
    background-color: var(--yc-color-base-misc);
    &::before,
    &::after {
        display: block;

        content: '$$';

        color: var(--yc-color-text-hint);
    }
}

.math-container:not(.math-active) {
    position: relative;

    .math-inline,
    .math-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        opacity: 0;
    }

    .ye-MathHint {
        &__block-view {
            display: none;
        }

        &__inline-view {
            display: none;
        }
    }
}

.ye-MathHint {
    &__block-view {
        float: right;
    }

    &__inline-view {
        display: inline-block;

        margin-right: 6px;
    }
}
