.g-md-YfmHtml {
    position: relative;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    border: 1px solid var(--g-color-line-generic);
    border-radius: var(--g-border-radius-m);

    &_editing {
        padding-top: 0;
        display: flex;
        border: 0;
    }

    &__Label {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    &__Menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__Preview {
        flex: 1;
    }

    &__Error {
        flex: 1;

        font-family: var(--g-font-family-monospace);

        color: var(--g-color-text-danger);
    }

    &__Editor {
        flex: 1;

        white-space: nowrap;
        caret-color: auto;
        width: 50%;

        .g-text-area__content {
            border: 0;
            font-size: 1em;
            font-feature-settings: normal;
            background: var(--yfm-color-hljs-background);
            color: var(--yfm-color-hljs-subst);
            border-radius: var(--g-border-radius-m);
        }
        .g-text-area__control.g-md-YfmHtmlHelper {
            font-family: var(--yfm-font-family-monospace);
        }
    }


    &__EditorPopover {
        z-index: 1;

        float: right;
    }

    &__Controls {
        display: flex;
        justify-content: end;

        margin-top: 5px;
    }

    &__Content {
        flex-grow: 1;
    }
}
