@import '~@gravity-ui/uikit/styles/mixins';

.ye-toolbar-button-with-popup-menu {
    --g-button-icon-offset: 0px;
    --g-button-padding: 2px;
    width: 42px;

    &__menu-group {
        .g-menu__group-label {
            color: var(--g-color-text-hint);
            @include text-body-1();
        }
    }
}
