@import '~@gravity-ui/uikit/styles/mixins.scss';

.playground {
    max-width: 1296px;
    margin: 0 auto;

    &__header {
        position: relative;

        margin-top: 16px;
        margin-bottom: 40px;

        text-align: center;

        @include text-header-2();
    }

    &__preview-type {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__controls {
        display: flex;
        align-items: center;
        column-gap: 8px;

        & > p {
            margin: 0;
        }
    }

    &__markup {
        background-color: var(--g-color-base-generic);
    }

    &__editor-view {
        min-height: 100px;
        margin: 20px 0;
        padding-left: 4px;
    }

    &__pm-selection {
        position: absolute;
        top: 8px;
        left: 8px;
    }
}
