$marker-space: var(--g-spacing-7);
$active-node-indent-top: calc(-1 * var(--g-spacing-1));
$active-node-indent-bottom: calc(-1 * var(--g-spacing-1));
$active-node-indent-left: calc(-1 * var(--g-spacing-2));
$active-node-indent-right: 0;
$active-node-with-marker-indent-right: calc(-1 * $marker-space);

$default-selection-border: none;
$default-selection-border-radius: var(--g-border-radius-m);
$default-selection-outline: none;
$default-selection-background: var(--g-color-base-generic);
$default-selection-box-shadow: none;

// TODO: add specific classes for nodes for more explicit differentiation

$active-node-selector: '.pm-node-selected';
$highlight-elements: h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, 'span:not(+ img)',
    'div:has(> hr)', '.g-md-checkbox';
$highlight-elements-no-inset: pre, 'p:has(img)', '*[data-html]', '.math-block-container',
    '.g-md-table-wrapper', '.mermaid-container', 'div[class^="yfm-"]';
$offset-elements: h1, h2, h3, h4, h5, h6, 'p:not(:has(img))', 'span:not(+ img)', 'div:has(> hr)',
    '.g-md-checkbox';

/* mixin for (primarily) vertical margins */
// TODO: rewrite for selective margin specification

@mixin elements-margins {
    $margin-map: (
        p: 0 0 calc(var(--g-spacing-2) + var(--g-spacing-half)),
        '.g-md-checkbox': 0 0 calc(var(--g-spacing-2) + var(--g-spacing-half)),
        '.g-md-checkbox__label': 0 0 0 calc(var(--g-spacing-2) - var(--g-spacing-half)),
        'li > *': 0 0 calc(var(--g-spacing-2) + var(--g-spacing-half)) var(--g-spacing-2),
        'blockquote > *': 0 0 calc(var(--g-spacing-2) + var(--g-spacing-half)) var(--g-spacing-2),
        // '.yfm-cut:has(+ *)': 0 0 5px, // ?
        '.yfm-cut:has(+ .yfm-cut)': 0 0 calc(var(--g-spacing-half)),
    );

    @each $selector, $margin-values in $margin-map {
        & #{$selector} {
            margin: $margin-values;
        }
    }
}

/* default node properties */

@mixin node-props {
    position: relative;

    box-sizing: border-box;

    border-radius: var(--g-md-wysiwyg-selection-border-radius, $default-selection-border-radius);

    &,
    tbody,
    img {
        mix-blend-mode: multiply;

        border-radius: var(
            --g-md-wysiwyg-selection-border-radius,
            $default-selection-border-radius
        );
    }

    &#{$active-node-selector} {
        &,
        * {
            &::selection {
                color: inherit;
            }
        }
    }
}

/* default selection properties */

@mixin selection-props {
    border: var(--g-md-wysiwyg-selection-border, $default-selection-border);
    border-radius: var(--g-md-wysiwyg-selection-border-radius, $default-selection-border-radius);
    outline: var(--g-md-wysiwyg-selection-outline, $default-selection-outline);
    background: var(--g-md-wysiwyg-selection-background, $default-selection-background);
    box-shadow: var(--g-md-wysiwyg-selection-box-shadow, $default-selection-box-shadow);
}

/* try for lists customization */
// @mixin custom-lists {
//     & ol {
//         counter-reset: li-count;

//         & li {
//             position: relative;

//             list-style-type: decimal;

//             counter-increment: li-count;

//             &::marker {
//                 content: '';
//             }

//             &::before {
//                 position: absolute;
//                 right: 100%;

//                 display: flex;
//                 justify-content: center;

//                 width: $marker-space;
//                 height: 100%;

//                 content: counter(li-count) '.';
//             }
//         }
//     }

//     & ul {
//         & li {
//             position: relative;

//             list-style-type: disc;

//             &::marker {
//                 content: '';
//             }

//             &::before {
//                 position: absolute;
//                 right: 100%;

//                 display: flex;
//                 justify-content: center;

//                 width: $marker-space;
//                 height: 100%;

//                 content: '•';
//             }
//         }
//     }
// }

[class].g-md-editor {
    // @include custom-lists;
    /* ⬇ basic styles ⬇ */

    @include elements-margins;

    @each $offset-element in $offset-elements {
        & #{$offset-element} {
            margin-left: var(--g-spacing-2);
        }
    }

    @each $highlight-element in $highlight-elements {
        & #{$highlight-element} {
            @include node-props;

            &#{$active-node-selector} {
                &::after {
                    position: absolute;
                    z-index: -1;
                    inset: $active-node-indent-top
                        $active-node-indent-right
                        $active-node-indent-bottom
                        $active-node-indent-left;

                    content: '';

                    @include selection-props;
                }
            }
        }
    }

    @each $highlight-element-no-inset in $highlight-elements-no-inset {
        & #{$highlight-element-no-inset} {
            @include node-props;

            &#{$active-node-selector} {
                &::after {
                    position: absolute;
                    z-index: -1;
                    inset: 0;

                    content: '';

                    @include selection-props;
                }
            }
        }
    }

    // REMOVE
    &.ProseMirror {
        padding: 40px;
    }

    // REMOVE ?
    & > * {
        margin-top: 0;
        margin-bottom: calc(var(--g-spacing-2) + var(--g-spacing-half));
    }

    /* ⬇ selective styles specification ⬇ */

    & .yfm-cut {
        border: none;

        @include node-props;

        &:hover::before {
            position: absolute;
            z-index: -1;
            inset: 0;

            content: '';

            border: 1px dashed var(--g-color-line-generic);
            border-radius: var(
                --g-md-wysiwyg-selection-border-radius,
                $default-selection-border-radius
            );
        }

        &-title {
            left: calc(var(--g-spacing-2) - var(--g-spacing-half));

            &::before {
                left: var(--g-spacing-half);

                width: 16px;
                height: 16px;
            }
        }
    }

    & .yfm-tabs {
        padding-left: var(--g-spacing-2);

        border: none;

        @include node-props;

        &:hover::before {
            position: absolute;
            z-index: -1;
            inset: 0;

            content: '';

            border: 1px dashed var(--g-color-line-generic);
            border-radius: var(
                --g-md-wysiwyg-selection-border-radius,
                $default-selection-border-radius
            );
        }
    }

    & .yfm-note {
        padding-left: var(--g-spacing-9);

        &-title {
            margin-left: 0;

            &::before {
                margin-left: calc(-1 * (var(--g-spacing-7) + var(--g-spacing-half)));
                padding-right: 0;
                scale: 0.7;
            }
        }
    }

    & .yfm-file {
        display: inline-block;
        align-content: center;

        height: 28px;
        margin-left: var(--g-spacing-9);

        &__icon {
            position: absolute;
            scale: 0.7;

            margin-left: -26px;
        }
    }

    & .g-md-checkbox {
        &__input {
            top: 0;

            width: 17px;
            height: 17px;
        }
    }

    & .g-md-table-wrapper {
        margin-bottom: 0;
    }

    & div:has(> hr) {
        margin-right: var(--g-spacing-2);

        @include node-props;

        &#{$active-node-selector} {
            &::after {
                top: -13px;
                right: -8px;
                bottom: -13px;
            }
        }

        & hr {
            height: 2px;
            margin: 20px 0;
        }
    }

    & pre code {
        padding: var(--g-spacing-2);
    }

    /* ⬇ ...for elements with marker zone ⬇ */

    & ul,
    ol,
    blockquote {
        padding-left: $marker-space;
    }

    & li {
        @include node-props;

        &#{$active-node-selector} {
            &::after {
                position: absolute;
                z-index: -1;
                inset: $active-node-indent-top $active-node-indent-right $active-node-indent-bottom
                    $active-node-with-marker-indent-right;

                content: '';

                @include selection-props;
            }
        }
    }

    & blockquote {
        position: relative;

        border: none;

        &#{$active-node-selector} {
            &::after {
                left: 0;
            }
        }

        &::before {
            position: absolute;
            z-index: -1;
            left: 15px;

            height: 100%;

            content: '';

            border-left: 3px solid var(--yfm-color-accent);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
