.g-md-status-tooltip {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 8px;

    &__colors {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: 4px;
    }

    &__swatch {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        min-width: 20px;
        min-height: 20px;
    }
}
