{
    "extends": ["@gravity-ui/eslint-config/client", "plugin:react/jsx-runtime"],
    "overrides": [{
        "files": ["*"],
        "rules": {
            "new-cap": [2, { "capIsNew": false }],
            "@typescript-eslint/no-namespace": [2, { "allowDeclarations": true }]
        }
    }]
}
