.ye-image-skeleton {
    $width: min(calc(var(--img-skeleton-width) * 1px), 100%);
    $height: min(calc(var(--img-skeleton-height) * 1px), 700px);
    vertical-align: middle;

    &__skeleton {
        width: $width;
        height: $height;
        margin-bottom: -5px;
    }
}
