name: Branch Preview

on: workflow_dispatch

jobs:
    main:
        name: Build and Deploy Storybook [Branch]
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6
            with:
              ref: ${{ github.event.pull_request.head.sha }}

          - name: Setup pnpm
            uses: pnpm/action-setup@v4

          - name: Setup Node
            uses: actions/setup-node@v6
            with:
              node-version-file: '.nvmrc'
              cache: pnpm

          - name: Install dependencies
            run: pnpm run deps:ci

          - name: Build Storybook
            run: pnpm run ci:sb:build

          - name: Upload to S3
            uses: gravity-ui/preview-upload-to-s3-action@v1
            with:
              src-path: demo/storybook-static
              dest-path: /md-editor/branches/${{ github.ref_name }}/
              s3-key-id: ${{ secrets.STORYBOOK_S3_KEY_ID }}
              s3-secret-key: ${{ secrets.STORYBOOK_S3_SECRET_KEY }}
