name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Lint Files
        run: pnpm run lint

      - name: Typecheck
        run: pnpm run typecheck

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Unit Tests
        run: pnpm --filter '@gravity-ui/*' test

      - name: ESBuild compatability
        run: pnpm --filter '@gravity-ui/*' test:esbuild

  check_circular_deps:
    name: Check Circular Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Check circular dependencies
        run: pnpm --filter '@gravity-ui/*' check-circular-deps
