name: Main Preview

on:
  push:
    branches: [main]

jobs:
  main:
    name: Build and Deploy Storybook [Main]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Build packages
        run: pnpm run build

      - name: Build Storybook
        run: pnpm --filter @markdown-editor/demo sb:build

      - name: Upload to S3
        uses: gravity-ui/preview-upload-to-s3-action@v1
        with:
          src-path: demo/storybook-static
          dest-path: /md-editor/main/
          s3-key-id: ${{ secrets.STORYBOOK_S3_KEY_ID }}
          s3-secret-key: ${{ secrets.STORYBOOK_S3_SECRET_KEY }}
