name: PR Preview

on:
  pull_request:

jobs:
  main:
    name: Build and Deploy Storybook
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Install Storybook CLI
        run: pnpm i @storybook/cli@8.4.1

      - name: Build Storybook
        run: pnpm run sb:build

      - name: Upload to S3
        uses: gravity-ui/preview-upload-to-s3-action@v1
        with:
          src-path: storybook-static
          dest-path: /md-editor/pulls/${{ github.event.pull_request.number }}/
          s3-key-id: ${{ secrets.STORYBOOK_S3_KEY_ID }}
          s3-secret-key: ${{ secrets.STORYBOOK_S3_SECRET_KEY }}

      - name: Create token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GRAVITY_UI_APP_ID }}
          private-key: ${{ secrets.GRAVITY_UI_APP_PRIVATE_KEY }}

      - name: Create Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          header: preview
          number: ${{ github.event.pull_request.number }}
          message: '[![Storybook Deployed](https://img.shields.io/badge/Storybook-Deployed-FF4785?logo=storybook&style=for-the-badge)](https://preview.gravity-ui.com/md-editor/${{ github.event.pull_request.number }}/)'
