name: PR Visual Tests

on:
  pull_request:

jobs:
  visual_tests:
    name: Visual Tests
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.49.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Build packages
        run: pnpm run build

      - name: Run Visual Tests
        run: pnpm run ci:playwright
        env:
          CI: 'true'

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: ./demo/playwright-report
          retention-days: 1

      - name: Save PR ID
        if: always()
        run: |
          pr="${{ github.event.pull_request.number }}"
          echo $pr > ./pr-id.txt
        shell: bash

      - name: Create PR Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pr
          path: ./pr-id.txt
