name: Prerelease

on: workflow_dispatch

jobs:
  prerelease:
    runs-on: ubuntu-latest
    if: github.ref_protected != true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Run tests
        shell: bash
        run: pnpm test

      - name: Bump and Publish
        shell: bash
        run: |
          pnpm pkg set version="0.0.0-rc-$(git branch --show-current | tr '/' '-')-$(date '+%Y%m%d%H%M')"
          pnpm config set '//registry.npmjs.org/:_authToken' "${NODE_AUTH_TOKEN}"
          pnpm publish --no-tag --report-summary --no-git-checks
          cat pnpm-publish-summary.json
        env:
          NODE_AUTH_TOKEN: ${{secrets.GRAVITY_UI_BOT_NPM_TOKEN}}
