name: Release

on:
  push:
    branches:
      - main
      - release/v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Run tests
        shell: bash
        run: pnpm test

      - name: Get package info
        uses: codex-team/action-nodejs-package-info@v1.1
        id: package

      - name: Release please
        uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GRAVITY_UI_BOT_GITHUB_TOKEN }}
          release-type: node
          package-name: ${{ steps.package.outputs.name }}
          bump-minor-pre-major: true
          default-branch: ${{ github.ref_name != 'main' && github.ref_name || null }}
          changelog-types: >
            [{"type":"feat","section":"Features","hidden":false},
             {"type":"fix","section":"Bug Fixes","hidden":false},
             {"type":"refactor","section":"Refactoring","hidden":false},
             {"type":"perf","section":"Performance Improvements","hidden":false}]
      
      - name: Publish version
        if: steps.release.outputs.release_created == 'true'
        shell: bash
        run: echo "Please run publish workflow manually"
