name: Release

on:
  push:
    branches:
      - main
      - release/v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm run deps:ci

      - name: Run tests
        shell: bash
        run: pnpm test

      - name: Release please
        uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GRAVITY_UI_BOT_GITHUB_TOKEN }}
          config-file: .release-please/config.json
          manifest-file: .release-please/manifest.json
      
      - name: Publish version
        if: steps.release.outputs.releases_created == 'true'
        shell: bash
        run: echo "Please run publish workflow manually"
